@keyframes marquee {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}
.hide {
  display: none !important;
}

.results {
  display: flex;
  flex-direction: column;
}

body {
  margin: 20px;
}

.marquee {
  overflow: hidden;
}

#marqueeRes {
  display: flex;
  position: relative;

  animation: marquee 15s linear infinite;
}

#marqueeRes > div {
  min-width: 68px;
  font-size: 20px;
  padding: 0 10px;
}

#marqueeRes .company-price {
  color: green;
}
